#heading {
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
label {
  display: block;
}

input {
  display: block;
}

form {
  display: flex;
  background-color: rgba(255, 255, 255, 0.278);
  margin: 0px 100px 0px 100px;
  padding: 50px;
  flex-direction: column;
  align-items: center;
}

#signup {
  background: linear-gradient(rgb(186, 171, 226), rgb(121, 200, 231), pink);
  padding-bottom: 10%;
}

#submit {
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  margin-top: 15px;
  background-color: rgb(253, 127, 255);
}
